<div class="row">
    <div class="col-md-12">
        <div class="card" style="min-height:0;">
            <div class="card-header">
                <h1>
                    <span ng-click="recipeCtrl.showIcons = !recipeCtrl.showIcons">{{recipeCtrl.recipe.name}}</span><Br />
                    <small>{{recipeCtrl.recipe.style.styleName || '(No style information)'}}</small>
                </h1>
            </div>
            <div class="card-body row">
                <div class="col-sm-4">
                    Batch Size: {{recipeCtrl.recipe.batchSize}}
                </div>
                <div class="col-sm-4 text-center">
                    <strong>OG:</strong> {{recipeCtrl.recipe.profile.originalGravity | number:3}}
                    <targetted-slider ng-if="!recipeCtrl.showIcons" output-formatter="recipeCtrl.formatGravity()" min="recipeCtrl.recipe.style.lowOG" max="recipeCtrl.recipe.style.hiog" actual="recipeCtrl.recipe.profile.originalGravity" expanded="recipeCtrl.ogExpanded" ng-click="recipeCtrl.ogExpanded = !recipeCtrl.ogExpanded"></targetted-slider>
                    <strong>FG:</strong> {{recipeCtrl.recipe.profile.finalGravity | number:3}}
                    <targetted-slider ng-if="!recipeCtrl.showIcons" output-formatter="recipeCtrl.formatGravity()" min="recipeCtrl.recipe.style.lowFG" max="recipeCtrl.recipe.style.hifg" actual="recipeCtrl.recipe.profile.finalGravity" expanded="recipeCtrl.fgExpanded" ng-click="recipeCtrl.fgExpanded = !recipeCtrl.fgExpanded"></targetted-slider>
                    <strong>ABV:</strong> {{recipeCtrl.recipe.profile.alcoholByVolume | number:2}}%
                    <targetted-slider ng-if="!recipeCtrl.showIcons" output-formatter="recipeCtrl.formatAbv()" min="recipeCtrl.recipe.style.lowABV" max="recipeCtrl.recipe.style.hiabv" actual="recipeCtrl.recipe.profile.alcoholByVolume" expanded="recipeCtrl.abvExpanded" ng-click="recipeCtrl.abvExpanded = !recipeCtrl.abvExpanded"></targetted-slider>

                </div>
                <div class="col-sm-4 text-center">
                    <strong>IBUs:</strong> {{recipeCtrl.recipe.profile.internationalBitteringUnits | number:2}}
                    <targetted-slider ng-if="!recipeCtrl.showIcons" output-formatter="recipeCtrl.formatAbv()" min="recipeCtrl.recipe.style.lowIBU" max="recipeCtrl.recipe.style.hiibu" actual="recipeCtrl.recipe.profile.internationalBitteringUnits" expanded="recipeCtrl.ibuExpanded" ng-click="recipeCtrl.ibuExpanded = !recipeCtrl.ibuExpanded"></targetted-slider>
                    <strong>SRM:</strong> {{recipeCtrl.recipe.profile.colorSRM | number:1}}
                    <targetted-slider ng-if="!recipeCtrl.showIcons" output-formatter="recipeCtrl.formatAbv()" min="recipeCtrl.recipe.style.lowSRM" max="recipeCtrl.recipe.style.hisrm" actual="recipeCtrl.recipe.profile.colorSRM" expanded="recipeCtrl.srmExpanded" ng-click="recipeCtrl.srmExpanded = !recipeCtrl.srmExpanded"></targetted-slider>
                    <div ng-if="!recipeCtrl.showIcons" style="background-color: rgb({{recipeCtrl.recipe.profile.colorRGB}}); width: 90%; height: 40px; margin-top: 5px; margin-left: 5%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row flex">
    <div class="col-md-6 flex">
        <div loading-bar-scoped class="card flex-1">

            <div class="card-header">
                <h1>Fermentables</h1>
            </div>
            <ingredient-table recipe-item="recipeCtrl.recipe" ingredient-type="fermentables"></ingredient-table>
        </div>
    </div>

    <div class="col-md-6 flex">
        <div loading-bar-scoped class="card flex-1">
            <div class="card-header">
                <h1>Boil Hops</h1>
            </div>
            <ingredient-table recipe-item="recipeCtrl.recipe" ingredient-type="hops"></ingredient-table>
        </div>
    </div>
</div>
<div class="row flex">

    <div class="col-md-6 flex">
        <div class="card flex-1">
            <div class="card-header">
                <h1>Miscellaneous</h1>
            </div>
            
        </div>
    </div>

    <div class="col-md-6 flex">
        <div class="card flex-1">
            <div class="card-header">
                <h1>Yeast</h1>
            </div>
            <ingredient-table recipe-item="recipeCtrl.recipe" ingredient-type="yeasts"></ingredient-table>
        </div>
    </div>


</div>
<div class="row flex">
    <div class="col-md-6 flex">
        <div class="card flex-1">
            <div class="card-header">
                <h1>Equipment Profile</h1>
            </div>
            (table)
        </div>
    </div>

    <div class="col-md-6 flex">
        <div class="card flex-1">
            <div class="card-header">
                <h1>Mash Profile</h1>
            </div>
            (table)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>Fermentation</h1>
            </div>

        </div>
    </div>

</div>
