@font-face {

    font-family: "homebrews";
    src: url("fonts/Homebrews.woff") format('woff');

}

.beerglass {

    font-family: homebrews;
    font-style: normal !important;
    line-height:0.85;
    margin:0;
    padding:0;

    &.beerglass-tulip {
        &:before { content: "a";}
    }

    &.beerglass-tulip-outline {
        &:before { content: "Q";}
    }

    &.beerglass-tulip-contents {
        &:before { content: "A";}
    }

    &.beerglass-weizen {
        &:before { content: "b";}
    }

    &.beerglass-weizen-outline {
        &:before { content: "R";}
    }

    &.beerglass-weizen-contents {
        &:before { content: "B";}
    }

    &.beerglass-boot {
        &:before { content: "c";}
    }

    &.beerglass-boot-outline {
        &:before { content: "S";}
    }

    &.beerglass-boot-contents {
        &:before { content: "C";}
    }

    &.beerglass-snifter {
        &:before { content: "d";}
    }

    &.beerglass-snifter-outline {
        &:before { content: "T";}
    }

    &.beerglass-snifter-contents {
        &:before { content: "D";}
    }

    &.beerglass-goblet {
        &:before { content: "e";}
    }

    &.beerglass-goblet-outline {
        &:before { content: "U";}
    }

    &.beerglass-goblet-contents {
        &:before { content: "E";}
    }

    &.beerglass-pint {
        &:before { content: "f";}
    }

    &.beerglass-pint-outline {
        &:before { content: "V";}
    }

    &.beerglass-pint-contents {
        &:before { content: "F";}
    }

    &.beerglass-flute {
        &:before { content: "g";}
    }

    &.beerglass-flute-outline {
        &:before { content: "W";}
    }

    &.beerglass-flute-contents {
        &:before { content: "G";}
    }

    &.beerglass-mug {
        &:before { content: "h";}
    }

    &.beerglass-mug-outline {
        &:before { content: "X";}
    }

    &.beerglass-mug-contents {
        &:before { content: "H";}
    }

    &.beerglass-pilsner {
        &:before { content: "i";}
    }

    &.beerglass-pilsner-outline {
        &:before { content: "Y";}
    }

    &.beerglass-pilsner-contents {
        &:before { content: "I";}
    }

    &.beerglass-nonic {
        &:before { content: "j";}
    }

    &.beerglass-nonic-outline {
        &:before { content: "Z";}
    }

    &.beerglass-nonic-contents {
        &:before { content: "J";}
    }

    &.beerglass-chalice {
        &:before { content: "k";}
    }

    &.beerglass-chalice-outline {
        &:before { content: "[";}
    }

    &.beerglass-chalice-contents {
        &:before { content: "K";}
    }
}

.hydrometer-icon {

    font-family: homebrews;
    font-style: normal !important;
    line-height:0.85;
    margin:0;
    margin-top: -.1em;
    padding:0;

    &.icon-0 {
        &:before { content: "0"; }
    }

    &.icon-1 {
        &:before { content: "1"; }
    }

    &.icon-2 {
        &:before { content: "2"; }
    }

    &.icon-3 {
        &:before { content: "3"; }
    }

    &.icon-4 {
        &:before { content: "4"; }
    }

    &.icon-5 {
        &:before { content: "5"; }
    }

    &.icon-6 {
        &:before { content: "6"; }
    }

    &.icon-7 {
        &:before { content: "7"; }
    }

    &.icon-8 {
        &:before { content: "8"; }
    }

    &.icon-9 {
        &:before { content: "9"; }
    }

    &.icon-10 {
        &:before { content: ":"; }
    }

    &.icon-11 {
        &:before { content: ";"; }
    }

}

.hopcone-icon {

    font-family: homebrews;
    font-style: normal !important;
    line-height:0.85;
    margin:0;
    padding:0;

    &.icon-0 {
        &:before { content: "p"; }
    }

    &.icon-1 {
        &:before { content: "q"; }
    }

    &.icon-2 {
        &:before { content: "r"; }
    }

    &.icon-3 {
        &:before { content: "s"; }
    }

    &.icon-4 {
        &:before { content: "t"; }
    }

    &.icon-5 {
        &:before { content: "u"; }
    }

    &.icon-6 {
        &:before { content: "v"; }
    }

    &.icon-7 {
        &:before { content: "w"; }
    }

    &.icon-8 {
        &:before { content: "x"; }
    }

    &.icon-9 {
        &:before { content: "y"; }
    }

    &.icon-10 {
        &:before { content: "z"; }
    }

    &.icon-11 {
        &:before { content: "{"; }
    }

    &.icon-12 {
        &:before { content: "|"; }
    }

    &.icon-13 {
        &:before { content: "}"; }
    }
}

.barley-icon {

    font-family: homebrews;
    font-style: normal !important;
    line-height:0.85;
    margin:0;
    padding:0;

    &.icon-0 {
        &:before { content: "!"; }
    }

    &.icon-1 {
        &:before { content: "\""; }
    }

    &.icon-2 {
        &:before { content: "#"; }
    }

    &.icon-3 {
        &:before { content: "$"; }
    }

    &.icon-4 {
        &:before { content: "%"; }
    }

    &.icon-5 {
        &:before { content: "&"; }
    }

    &.icon-6 {
        &:before { content: "'"; }
    }

    &.icon-7 {
        &:before { content: "("; }
    }

    &.icon-8 {
        &:before { content: ")"; }
    }

    &.icon-9 {
        &:before { content: "*"; }
    }

    &.icon-10 {
        &:before { content: "+"; }
    }

    &.icon-11 {
        &:before { content: ","; }
    }

    &.icon-12 {
        &:before { content: "-"; }
    }

    &.icon-13 {
        &:before { content: "."; }
    }

    &.icon-14 {
        &:before { content: "/"; }
    }

    &.icon-15 {
        &:before { content: "<"; }
    }

    &.icon-16 {
        &:before { content: "="; }
    }

    &.icon-17 {
        &:before { content: ">"; }
    }

    &.icon-18 {
        &:before { content: "?"; }
    }

    &.icon-19 {
        &:before { content: "L"; }
    }

    &.icon-20 {
        &:before { content: "M"; }
    }

    &.icon-21 {
        &:before { content: "N"; }
    }

    &.icon-22 {
        &:before { content: "O"; }
    }

    &.icon-23 {
        &:before { content: "\\"; }
    }

    &.icon-24 {
        &:before { content: "]"; }
    }

    &.icon-25 {
        &:before { content: "^"; }
    }
}