.targetted-slider-container {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 16px;
}
.targetted-slider-container .marker {
  position: absolute;
  left: 0%;
  top: -3px;
  height: 16px;
  width: 7px;
  background-color: #000;
  z-index: 5;
  -moz-transition: left 0.5s;
  -o-transition: left 0.5s;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}
.targetted-slider-container .marker .value {
  position: absolute;
  top: -16px;
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  line-height: 16px;
  font-size: 16px;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.targetted-slider-container .area {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 10px;
}
.targetted-slider-container .area.area-optimal {
  width: 70%;
  background-color: #3dd33d;
  position: relative;
}
.targetted-slider-container .area.area-optimal .bound {
  position: absolute;
  top: 20px;
}
.targetted-slider-container .area.area-optimal .bound.min {
  left: -15%;
}
.targetted-slider-container .area.area-optimal .bound.min:before {
  content: "Min: ";
}
.targetted-slider-container .area.area-optimal .bound.max {
  right: -15%;
}
.targetted-slider-container .area.area-optimal .bound.max:before {
  content: "Max: ";
}
.targetted-slider-container .area.area-optimal:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 2px;
  background-color: #3dd33d;
}
.targetted-slider-container .area.area-optimal:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  width: 2px;
  background-color: #3dd33d;
}
.targetted-slider-container .area.area-danger {
  width: 10%;
  background-color: #e52626;
}
.targetted-slider-container .area.area-warning {
  width: 5%;
  background-color: #f5eb35;
}