<table class="material-table">
    <thead>
        <tr>
            <th class="buttons"><i class="glyphicon glyphicon-plus clickable"></i></th>
            <th ng-repeat="column in ctrl.columnDefinition[ctrl.ingredientType]">{{column.heading}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in ctrl.items | orderBy:'amount':true" ng-mouseenter="item.hover = true" ng-mouseleave="item.hover = false">
            <td class="buttons"><i class="glyphicon glyphicon-remove clickable" ng-show="item.hover" ng-click="ctrl.remove(item)"></i></td>
            <td ng-repeat="column in ctrl.columnDefinition[ctrl.ingredientType]" ng-switch="column.type">
                <div ng-switch-when="selector">
                    <cell-editor item="item" column-definition="column" selector-items="ctrl.selectableItems"></cell-editor>
                </div>
                <div ng-switch-default>
                    <cell-editor item="item" column-definition="column"></cell-editor>
                </div>

                
            </td>
        </tr>
    </tbody>
</table>