
<div class="row">

    <div class=" col-md-8 text-right">

        <div class="card">
            <div class="card-header">
                <h1>Register</h1>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Email Address" ng-model="register.creds.email" />
                <input type="password" class="form-control" placeholder="Password" ng-model="register.creds.password" />
                <input type="password" class="form-control" placeholder="Repeat Password" ng-model="register.creds.confirmPassword" />
                <button type="submit" class="btn btn-primary" ng-click="register.register()">Register</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h1>External Log-in</h1>
            </div>
            <div class="card-body">
                Microsoft Account
                Google
            </div>
        </div>
    </div>

</div>

